a{
    color: black;
    text-align: center;
    font-size: 20px;
}
img{
    display: block;
    margin:auto;
    border: 8px solid black;
    
}
.ingresoBienvenida{
    
    background:  #b4fad9;
    text-align: center;
    font-size: 20px;
    margin-left: 455px;
    margin-right: 455px;    
    border: 2px solid black;  
}
.loginUsuario{
    background-color:#b4fad9;
    text-align: center;
    border: 2px solid black;
    margin-left: 400px;
    margin-right: 400px; 
    font-size: 20px;
     
}
#textoBienvenida{
    text-align: center;
}
.registroBode{
    background: #000000(224, 11, 189);
    text-align: center;
    border: 2px solid black;
    margin-left: 400px;
    margin-right: 400px; 
    font-size: 20px;
    

}

.navbar
{
    height: 115px;
    background-color:#1a865d;
    color: rgb(252, 245, 245);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 15px;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

bodega{
    background-color:#fff;
}
body{

    background-color:lightcyan;
}

a{text-decoration: none; color: rgb(0, 0, 0);}
.button-container{
    display:grid;
    gap: 140px;
    grid-template-columns: 0.1fr 1fr;
    width: 100%;
    padding-left: 520px;
    
}
input{
    font-size: 18px;
    height: 40px;
    width: 400px;
    text-align: center;
    
}
.btnInicio{
    float: right;
    padding-right: 40px;
}
.selector{
    margin-left: 20px;
    font-size: 18px;
    width: 500px;
}
#tblCrud{
    background-color:#1a865d;

    
}



